<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftGenConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SoftGenConverter.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value>Назва</value>
            </setting>
            <setting name="platNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mfo" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="rahunok" serializeAs="String">
                <value>00000000000000</value>
            </setting>
            <setting name="clientBankCode" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="recivePayNum" serializeAs="String">
                <value>00000</value>
            </setting>
            <setting name="name2" serializeAs="String">
                <value>Назва 2</value>
            </setting>
            <setting name="platNumber2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="edrpou" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="rahunok2" serializeAs="String">
                <value>00000000000000</value>
            </setting>
            <setting name="state1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="state2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="datePayment" serializeAs="String">
                <value>20010101</value>
            </setting>
            <setting name="name3" serializeAs="String">
                <value>Назва 3</value>
            </setting>
            <setting name="platNumber3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="edrpou2" serializeAs="String">
                <value>00000000</value>
            </setting>
            <setting name="state3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="state" serializeAs="String">
                <value>3</value>
            </setting>
        </SoftGenConverter.Properties.Settings>
    </userSettings>
</configuration>
